[Unit]
Description=Odcsock server
Wants=basic.target
After=basic.target network.target syslog.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/root/projects/odcsock/bin/odcsock

[Install]
WantedBy=multi-user.target
