# database setting
# - type is the database type[mysql, sqlit, ...]
# - connectingString is a string to connect to database server using by Open function
type=mysql
connectingString=odcser:odcser@unix(/var/run/mysql/mysql.sock)/odcser?charset=utf8&parseTime=True

# server about
# server's address and port to bind/listen
address=0.0.0.0
port=8898

# the odcser server's host name
odcserServerHost=https://localhost
